<!DOCTYPE>
<html>

<head>
<style>
body 	{ text-align: center; background: black; }
#logo 	{ margin-top: 5vh; margin-bottom: 2vh; }
#galaxy { margin-top: 5vh; margin-bottom: 5vh; }
#qrcode { margin-top: 5vh; margin-bottom: 5vh; }
#credits{ position:absolute; left:0 ; right:0; bottom:0; height:3em; text-align:center; font-size:12px; color:#D3D3D3; }
#credits a{color: #D3D3D3;}

@media all and (min-width:100px) and (max-width: 1024px) {
  #credits { font-size: 24px; }
}

</style>
</head>

<body>

<div><img id="logo"    src="https://www.galaxyzoo.org/images/gz_logo.png" alt="Galaxy Zoo logo" style="height:5vh;"></div>
<div><img id="galaxy"  src="{{ imageURL }}" alt="Galaxy image" style="height:32vh;"></div>
<div><img id="qrcode"  src="{{ url_for('get_qrcode', galid=galid) }}" alt="QR code" style="height:32vh;"></div>
<div id="credits"> Made by Ricarda, Marten, James, Ellen, Chris, and Becky. Code found <a href="https://github.com/chrislintott/GZMaze">here</a>.</div>
</body>
